<div class="alert alert-success">
  <p>You've scored <%= @quiz_submission.score  %> / <%= @quiz.score %>. You can review your answers.</p>
</div>

<%= form_tag course_quiz_quiz_submissions_path(@course, @quiz, QuizSubmission.new) do %>

  <% @quiz.questions.each do |question| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render_markdown(question.content) %>
      </div>
      <div class="panel-body">
        <% question.answers.each do |answer| %>

        <%
          klass = 'label-success' if answer.correct? && @quiz_submission.checked_answers.has_key?(answer.id.to_s)
          klass = 'label-danger' if !answer.correct? && @quiz_submission.checked_answers.has_key?(answer.id.to_s)
          klass = 'label-danger' if answer.correct? && !@quiz_submission.checked_answers.has_key?(answer.id.to_s)
        %>
          
          <div class="form-group checkbox <%= klass %>">
            <% if true %>
              <%= label_tag answer.id, answer.content, class: "#{klass} control-label" %>
              <%= check_box_tag answer.id, "", @quiz_submission.checked_answers.has_key?(answer.id.to_s) %>
            <% else %>
              <label class='label <%= klass %>'%>
                <%= radio_button_tag question.id, answer.id, @quiz_submission.checked_answers.has_key?(answer.id.to_s) %>
                <%= answer.content %>
              </label>
            <% end %>
          </div><!-- /input-group -->
        <% end %>

      </div>
    </div>

  <% end %>
<% end %>


<%= link_to "Try again", course_quiz_path(@course, @quiz), class: 'btn btn-success' %>
