<%= javascript_include_tag 'quiz_validation' %>

<div class="alert alert-warning">
  <p><span class="glyphicon glyphicon-bell"></span> You can use <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a> syntax in name, decription fields and questions.</p>
  <p>If you want to add more questions or answers, just click the + links.</p>
</div>


<% if @quiz.errors.any? %>
<div class="alert alert-danger">
  <% @quiz.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
</div>
<% end %>


<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>
<h1>Create new quiz for course <%= @course.name %></h1>

<%= form_for [@course, @quiz] do |f| %>
  <div class="form_group <%= "has-error" if @quiz.errors[:name].any? %>">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form_group <%= "has-error" if @quiz.errors[:name].any? %>">
    <%= f.label :short_description, class: 'control-label' %>
    <%= f.text_area :short_description, class: "form-control", rows: 4 %>
  </div>
  <div class="form_group <%= "has-error" if @quiz.errors[:name].any? %>">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_area :description, class: "form-control", rows: 7 %>
  </div>

  <div id="questions">
    <%= f.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association 'Add question', f, :questions %>
    </div>
  </div>

  <div class="submitCont">
    <input type="submit" class="btn btn-primary" value="Add quiz" />
  </div> <!-- /submitCont -->
<% end %>
