<%= form_tag course_quiz_quiz_submissions_path(@course, @quiz, QuizSubmission.new) do %>

  <% @quiz.questions.each do |question| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= question.content %>
      </div>
      <div class="panel-body">
        <% question.answers.each do |answer| %>
            <div class="checkbox">
              <%= label_tag answer.id, answer.content %>
              <%= check_box_tag answer.id %>
            </div><!-- /input-group -->
        <% end %>

      </div>
    </div>

  <% end %>

  <%= submit_tag("Submit", :class => "submit btn btn-primary") %>

<% end %>

<h2>Submissions</h2>
<% if @quiz_submissions.any? %>
  <% @quiz_submissions.each do |quiz_submission| %>

    <table class='table'>
      <tr>
        <td><%= quiz_submission.updated_at %></td>
      </tr>
      <tr>
         <td>Score: <%= quiz_submission.score %> / <%= @quiz.score %></td>
      </tr>
    </table>

  <% end %>
<% else %>
  <p>You don't have any submissions for this quiz.</p>
<% end %>
