<%= form_tag course_quiz_quiz_submissions_path(@course, @quiz, QuizSubmission.new) do %>

  <% @quiz.questions.each do |question| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= question.content %>
      </div>
      <div class="panel-body">
        <% question.answers.each do |answer| %>
          <% if question.multiple_correct_answers? %>
            <div class="checkbox">
              <%= label_tag answer.id, answer.content %>
              <%= check_box_tag answer.id %>
            </div><!-- /input-group -->
          <% end %>
        <% end %>

      </div>
    </div>

  <% end %>

  <%= submit_tag("Submit", :class => "submit") %>

<% end %>

<h2>Submissions</h2>
<% @quiz_submissions.each do |quiz_submission| %>

  <table class='table'>
    <tr>
      <td><%= quiz_submission.updated_at %></td>
    </tr>
    <tr>
       <td>Score: <%= quiz_submission.score %> / <%= @quiz.score %></td>
    </tr>
  </table>

<% end %>
