<div class="alert alert-warning">
  <p>You are allowed to solve this quiz as many times as you want to.</p>
</div>

<%= form_tag course_quiz_quiz_submissions_path(@course, @quiz, QuizSubmission.new) do %>

  <% @questions.each do |question| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render_markdown(question.content) %>
      </div>
      <div class="panel-body">
        <% question.answers.order('random()').each do |answer| %>
            <div class="form-group checkbox">
              <% if true %>
                <%= label_tag answer.id, answer.content, class: 'control-label' %>
                <%= check_box_tag answer.id, "" %>
              <% else %>
                <label>
                  <input id="<%= question.id %>_<%= answer.id %>" name="<%= question.id %>" type="radio" value="<%= answer.id %>" >
                  <%= answer.content %>
                </label>
              <% end %>
            </div><!-- /input-group -->
        <% end %>

      </div>
    </div>

  <% end %>

  <%= submit_tag("Submit", :class => "submit btn btn-primary") %>
<% end %>

<table class='table'>
  <% @quiz_submissions.each do |quiz_submission| %>
    <tr>
      <td><%= quiz_submission.created_at %></td>
    </tr>
    <tr>
      <td>
        <%= quiz_submission.score %> / <%= @quiz.score %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "See answers", course_quiz_quiz_submission_path(@course, @quiz, quiz_submission) %>
      </td>
    </tr>
  <% end %>
</table>
