<div class="alert alert-warning">
  <p>You are allowed to solve this quiz as many times as you want to.</p>
</div>

<%= form_tag course_quiz_quiz_submissions_path(@course, @quiz, QuizSubmission.new) do %>

  <% @quiz.questions.each do |question| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render_markdown(question.content) %>
      </div>
      <div class="panel-body">
        <% question.answers.each do |answer| %>
            <div class="form-group checkbox">
              <%= label_tag answer.id, answer.content, class: 'control-label'%>
              <%= check_box_tag answer.id, "" %>
            </div><!-- /input-group -->
        <% end %>

      </div>
    </div>

  <% end %>

  <%= submit_tag("Submit", :class => "submit btn btn-primary") %>
<% end %>

<table class='table'>
  <% @quiz_submissions.each do |quiz_submission| %>
    <tr>
      <td><%= quiz_submission.created_at %></td>
    </tr>
    <tr>
      <%= quiz_submission.score %>/ <%= @quiz.score %>
    </tr>
    <tr>
      <%= link_to "See answers", course_quiz_quiz_submission_path(@course, @quiz, quiz_submission) %>
    </tr>
  <% end %>
</table>
