<%= javascript_include_tag 'assignment' %>

<% if @assignment.errors.any? %>
  <div class="alert alert-danger">
    <% @assignment.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>

<h1>Edit <%= @assignment.name %> in course <%= @course.name %></h1>

<%= form_for [@course, @assignment], url: { action: :update } do |f| %>
  <%= render 'assignments/form', f: f %>
  <div class="form_group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
