<%= javascript_include_tag 'assignment' %>

<div class="alert alert-warning">
  <p><span class="glyphicon glyphicon-bell"></span> You can use <a href="http://en.wikipedia.org/wiki/Markdown">markdown</a> syntax in name, decription fields and questions.</p>
  <p>Remember to add careful description to assignments not to make student confused.</p>
</div>

<% if @assignment.errors.any? %>
  <div class="alert alert-danger">
    <% @assignment.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>

<h1>Create new assignment for course <%= @course.name %></h1>

<%= form_for [@course, @assignment] do |f| %>
  <%= render 'assignments/form', f: f %>

  <div class="form_group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
