<%= stylesheet_link_tag 'codemirror/codemirror' %>
<%= stylesheet_link_tag 'codemirror/themes/twilight' %>

<%= javascript_include_tag 'assignment' %>

<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>

<h1>Create new assignment for course <%= @course.name %></h1>

<%= form_for [@course, @assignment] do |f| %>
 <div class="form_group" >
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
 </div>
  <div class="form_group" >
    <%= f.label :short_description %>
    <%= f.text_field :short_description, class: "form-control" %>
  </div>
  <div class="form_group" >
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form_group">
    <%= f.label :language %>
    <%= f.select :language, options_for_select(Assignment::LANGUAGES) %>
  </div>
  <div class="form_group" >
    <%= f.label :code %>
    <%= f.text_area :code, class: "form-control", rows: 20, id: "code" %>
  </div>
  <div class="form_group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
