<%= stylesheet_link_tag 'codemirror/codemirror' %>
<%= stylesheet_link_tag 'codemirror/themes/twilight' %>

<%= javascript_include_tag 'assignment_submission' %>

<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>

<h1><%= @assignment.name %></h1>

<%= @assignment.description %>

<%= form_for [@course, @assignment, @assignment_submission] do |f| %>
  <div class="form_group" >
    <%= f.label :code%>
    <%= f.text_area :code, class: "form-control", rows: 20, id: "code" %>
  </div>
  <div class="form_group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<% if @last_submission.nil? || @last_submission.pending? %>
  <h1>Checking in progress please wait</h1>
<% else %>
  <%= @last_submission.output %>
<% end %>
