<script type="text/javascript">
  window.assignment_language = <%= @assignment.language %>;
</script>

<%= javascript_include_tag 'assignment_submission' %>

<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>

<h1><%= @assignment.name %></h1>

<%= @assignment.description %>

<%= form_for [@course, @assignment, @assignment_submission] do |f| %>
  <div class="form_group" >
    <%= f.label :code%>
    <%= f.text_area :code, class: "form-control", value: @code, rows: 20, id: "code" %>
  </div>
  <div class="form_group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

<h2>Submissions</h2>
<% @assignment_submissions.each do |assignment_submission| %>

  <table class='table'>
    <tr>
      <td><%= assignment_submission.updated_at %></td>
    </tr>
    <tr>
       <td><%= assignment_submission.status %></td>
    </tr>
    <tr>
      <td><%= assignment_submission.output %></td>
    </tr>
  </table>

<% end %>
