<% if @lesson.errors.any? %>
  <div class="alert alert-danger">
    <% @lesson.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>
<h1>Create new lesson for course <%= @course.name %></h1>

<%= form_for [@course, @lesson], url: { action: :update }, role: 'form', role: 'form' do |f| %>
  <%= render 'lessons/form', f: f %>
  <div class="form_group">
    <input class="btn btn-primary" type="submit" value="Update lesson">
  </div>
<% end %>

