<% if @lesson.errors.any? %>
  <div class="alert alert-danger">
    <% @lesson.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>

<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>
<h1>Create new lesson for course <%= @course.name %></h1>

<%= form_for [@course, @lesson], role: 'form', role: 'form' do |f| %>
  <div class="form_group <%= "has-error" if @lesson.errors[:name].any? %>" >
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form_group <%= "has-error" if @lesson.errors[:short_description].any? %>" >
    <%= f.label :short_description, class: 'control-label' %>
    <%= f.text_area :short_description, class: "form-control", rows: 4 %>
  </div>
  <div class="form_group <%= "has-error" if @lesson.errors[:description].any? %>" >
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_area :description, class: "form-control", rows: 7 %>
  </div>
  <div class="form_group <%= "has-error" if @lesson.errors[:video_url].any? %>" >
    <%= f.label :video_url, class: 'control-label' %>
    <%= f.text_field :video_url, class: "form-control" %>
  </div>
  <div class="form_group">
    <input class="btn btn-primary" type="submit" value="Create lesson">
  </div>
<% end %>

