<div class="admin-panel">
  <div class="btn-group">
    <% if policy(@lesson).update? %>
      <a href="<%= edit_course_lesson_path(@course, @lesson) %>" role="button" class="btn btn-primary btn-warning"><span class="glyphicon glyphicon-plus"></span> Edit lesson</a>
    <% end %>
  </div>
</div>

<h1><%= @lesson.name %> <small>in <%= @course.name %></small></h1>
<%= youtube_iframe(@lesson.video_id) %>

<%= render_markdown @lesson.description %>
