<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>
<h1>Create new course</h1>

<%= form_for @course, url: { action: :update }, role: 'form' do |f| %>
  <%= render 'form', f: f %>
  <div class="form_group">
    <input class="btn btn-primary" type="submit" value="Update course">
  </div>
<% end %>

<h2>Teachers <%= @teachers.count %></h2>
<table class='table'>
  <tr>
    <th>Name</th>
  </tr>
  <% @teachers.each do |user| %>

    <tr>
      <td>
        <%= user.name %>
      </td>

      <td>
        <%= link_to "Remove", course_course_teacher_path(@course, id: @course.id), method: :delete %>
      </td>
    </tr>

  <% end %>
</table>

<h2>Students <%= @students.count %></h2>
<table class='table'>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @students.each do |user| %>

    <tr>
      <td>
        <%= user.name %>
      </td>

      <td>
        <%= button_to "Promote to teacher", course_course_teachers_path(@course) %>
      </td>

      <td>
        <%= link_to "Ejection", course_course_signup_path(@course, id: @course.id), method: :delete, confirm: 'Are you sure?'%>
      </td>
    </tr>

  <% end %>
</table>
