<%= link_to '&times;'.html_safe, courses_path, role: "button", class: "close", "aria-hidden" => "true" %>
<h1><%= @course.name %></h1>

<%= render_markdown(@course.description) %>

<!-- wip -->
<% unless current_user.is_signed?(@course) %>
  <%= form_for [@course, @course_role], url: course_course_signups_path(@course), role: 'form', role: 'form' do |f| %>
    <%= f.submit "Signup", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <span class="label label-success">Registered</span>
<% end %>
<!-- /wip -->
<div class="course-list">
<% @lessons.each do |lesson| %>
  <div class="media">
    <a class="pull-left" href="<%= course_lesson_path(@course, lesson) %>">
      <img class="media-object" src="<%= lesson.screenshot_url %>" alt="<%= lesson.name %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to lesson.name, course_lesson_path(@course, lesson) %></h4>
      <%= render_markdown(lesson.description) %>
    </div>
  </div>
<% end %>

<% @assignments.each do |assignment| %>
  <div class="media">
    <a class="pull-left" href="<%= course_lesson_path(@course, assignment) %>">
      <img class="media-object" src="<%= assignment.screenshot_url %>" alt="<%= assignment.name %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to assignment.name, course_lesson_path(@course, assignment) %></h4>
      <%= render_markdown(assignment.description) %>
    </div>
  </div>
<% end %>
</div>

<div class="admin-panel">
  <div class="btn-group">
<% if policy(Lesson.new).create? %>
  <a href="<%= new_course_lesson_path(@course.id) %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new lesson</a>
<% end %>
<% if policy(Assignment.new).create? %>
  <a href="<%= new_course_assignment_path(@course.id) %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new assignment</a>
<% end %>
  </div>
</div>
