<script type='text/javascript'>
  var isSignedUpForCourse = <%= policy(@course).show? %>
</script>

<%= javascript_include_tag "course" %>

<div class="admin-panel">
  <div class="btn-group">
    <% if policy(@lesson).create? %>
      <a href="<%= new_course_lesson_path(@course) %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new lesson</a>
    <% end %>
    <% if policy(@assignment).create? %>
      <a href="<%= new_course_assignment_path(@course) %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new assignment</a>
    <% end %>

    <% if policy(@quiz).create? %>
      <a href="<%= new_course_quiz_path(@course) %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new quiz</a>
    <% end %>

    <% if policy(@course).update? %>
      <a href="<%= edit_course_path(@course) %>" role="button" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit course</a>
    <% end %>

    <% if policy(@course).destroy? %>
      <a href="<%= course_path(@course) %>" role="button" data-confirm="Are you sure? THIS IS IRREVERSIBLE" data-method="delete" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Destroy course</a>
    <% end %>
  </div>
</div>

<!-- Sign Up -->
<% if policy(@course_role).create? && !current_user.is_signed_up_for?(@course) %>
  <%= form_for [@course, @course_role], url: course_course_signups_path(@course), role: 'form', role: 'form' do |f| %>
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  <% end %>
<% end %>
<!-- /Sign Up -->

<%= link_to '&times;'.html_safe, courses_path, role: "button", class: "close", "aria-hidden" => "true" %>
<h1><%= @course.name %> <% if policy(@course).show? %><a id="show_description" href="#">View details</a><% end %></h1>

<% if current_user.logged_in? %>
  <span id="course_description">
    <%= render_markdown(@course.description) %>
  </span>
<% else %>
  <%= render_markdown(@course.description) %>
<% end %>

<% if policy(@course).show? %>

  <h2>Lessons</h2>
  <% if @lessons.any? %>
    <div class="course-list">
    <% @lessons.each do |lesson| %>
      <div class="media">
        <a class="pull-left" href="<%= course_lesson_path(@course, lesson) %>">
          <img class="media-object" src="<%= lesson.screenshot_url %>" alt="<%= lesson.name %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to lesson.name, course_lesson_path(@course, lesson) %></h4>
          <%= render_markdown(lesson.short_description) %>
          <button type="button" class="btn btn-link pull-right">
          <% if policy(lesson).update? %>
            <%= link_to content_tag(:span, ''), edit_course_lesson_path(@course, lesson), class: "glyphicon glyphicon-pencil" %>
          <% end %>
          <% if policy(lesson).destroy? %>
            <%= link_to content_tag(:span, ''), course_lesson_path(@course, lesson), data: { confirm:"Are you sure? THIS IS IRREVERSIBLE" }, class: "glyphicon glyphicon-trash", method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There are no lessons yet.</p>
  <% end %>

  <h2>Assignments</h2>
  <% if @assignments.any? %>
    <% @assignments.each do |assignment| %>
      <div class="media">
        <a class="pull-left" href="<%= course_lesson_path(@course, assignment) %>">
          <img class="media-object" src="<%= assignment.screenshot_url %>" alt="<%= assignment.name %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to assignment.name, course_assignment_path(@course, assignment) %></h4>
          <%= render_markdown(assignment.short_description) %>
          <button type="button" class="btn btn-link pull-right">
          <% if policy(assignment).update? %>
            <%= link_to content_tag(:span, ''), edit_course_assignment_path(@course, assignment), class: "glyphicon glyphicon-pencil" %>
          <% end %>
          <% if policy(assignment).destroy? %>
            <%= link_to content_tag(:span, ''), course_assignment_path(@course, assignment), data: { confirm:"Are you sure? THIS IS IRREVERSIBLE" }, class: "glyphicon glyphicon-trash", method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There are no assignments yet.</p>
  <% end %>

  <h2>Quizzes</h2>
  <% if @quizzes.any? %>
    <% @quizzes.each do |quiz| %>
      <div class="media">
        <a class="pull-left" href="<%= course_quiz_path(@course, quiz) %>">
          <img class="media-object" src="<%= quiz.screenshot_url %>" alt="<%= quiz.name %>">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to quiz.name, course_quiz_path(@course, quiz) %></h4>
          <%= render_markdown(quiz.short_description) %>
          <button type="button" class="btn btn-link pull-right">
          <% if policy(quiz).destroy? %>
            <%= link_to content_tag(:span, ''), course_quiz_path(@course, quiz), data: { confirm:"Are you sure? THIS IS IRREVERSIBLE" }, class: "glyphicon glyphicon-trash", method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There are no quizzes yet.</p>
  <% end %>

  <!-- Leave -->
  <% if current_user.is_signed_up_for?(@course) %>
    <a href="<%= course_course_signup_path(@course, id: @course.id) %>" role="button" data-method="delete" class="btn btn-danger pull-right leave-btn">Leave</a>
  <% end %>
  <!-- /Leave -->

<% end %>
