<!-- wip -->
<% if current_user.is_signed_up_for?(@course) %>
  <a href="#" role="button" class="btn btn-danger">Leave</a>
<% else %>
  <%= form_for [@course, @course_role], url: course_course_signups_path(@course), role: 'form', role: 'form' do |f| %>
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  <% end %>
<% end %>
<!-- /wip -->

<div class="admin-panel">
  <div class="btn-group">
    <% if policy(Lesson.new).create? %>
      <a href="<%= new_course_lesson_path(@course) %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new lesson</a>
    <% end %>
    <% if policy(Assignment.new).create? %>
      <a href="<%= new_course_assignment_path(@course) %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new assignment</a>
    <% end %>

    <a href="<%= %>" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new quiz</a>
    <a href="<%= %>" role="button" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit course</a>
    <a href="<%= %>" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span> Destroy course</a>
  </div>
</div>

<%= link_to '&times;'.html_safe, courses_path, role: "button", class: "close", "aria-hidden" => "true" %>
<h1><%= @course.name %></h1>

<%= render_markdown(@course.description) %>

<div class="course-list">
<% @lessons.each do |lesson| %>
  <div class="media">
    <a class="pull-left" href="<%= course_lesson_path(@course, lesson) %>">
      <img class="media-object" src="<%= lesson.screenshot_url %>" alt="<%= lesson.name %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to lesson.name, course_lesson_path(@course, lesson) %></h4>
      <%= render_markdown(lesson.description) %>
      <button type="button" class="btn btn-link pull-right">

      <%= link_to content_tag(:span, ''), course_lesson_path(@course, lesson), class: "glyphicon glyphicon-trash", method: :delete %>
    </div>
  </div>
<% end %>

<% @assignments.each do |assignment| %>
  <div class="media">
    <a class="pull-left" href="<%= course_lesson_path(@course, assignment) %>">
      <img class="media-object" src="<%= assignment.screenshot_url %>" alt="<%= assignment.name %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to assignment.name, course_lesson_path(@course, assignment) %></h4>
      <%= render_markdown(assignment.description) %>
    </div>
  </div>
<% end %>
</div>
