<h1><%= @course.name %></h1>

<%= raw render_markdown(@course.description) %>

<table>
  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.name %></td>
    </tr>
    <tr>
      <td><%= image_tag lesson.screenshot_url, :width => 64, :height => 64 %></td>
    </tr>
    <tr>
      <td><%= render_markdown(lesson.description) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add new lesson", new_course_lesson_path(@course.id) %>
<%= link_to "Back to courses", courses_path %>
