<%= link_to '&times;'.html_safe, :back, role: "button", class: "close", "aria-hidden" => "true" %>

<%= form_for [:admin, @user], action: :edit do |f| %>

	<h1>Nazwa_użytkownika</h1>

	<div class="form_group" >
		<%= f.label :admin %>
		<%= f.check_box(:admin) %>
	</div>

	<div class="form_group" >
		<%= f.label :courses_limit %>
		<%= f.text_field :courses_limit %>
	</div>

	<div class="form_group" >
		<input class="btn btn-primary" type="submit" value="Update user">
	</div>

<% end %>
