<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Kursarz</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/logo.png" />
  <%= stylesheet_link_tag    'kursarz', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'kursarz', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'holder/holder', 'data-turbolinks-track' => true %>
</head>
<body>
  <%= render 'shared/navigation_bar' %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-8" id="main-page">
        <% if flash[:notice] %>
          <div class="alert alert-success"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
          <div class="alert alert-danger"><%= flash[:error] %></div>
        <% end %>

        <%= yield %>
      </div>
      <div class="col-sm-2">&nbsp;</div>
    </div>
  </div>
</body>
</html>
