<!DOCTYPE html>
<html>
<head>
  <title>Kursarz</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Kursarz</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <% if current_user.logged_in? %>
              <li><%= current_user.name  %></li>
              <li><%= image_tag("github_32.png") if session[:provider] == "github"  %></li>
              <li><%= image_tag("bitbucket_32.png") if session[:provider] == "bitbucket"  %></li>
              <li><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li><%= link_to "Sign in with" %></li>
              <li><%= link_to image_tag("github_32.png"), "/auth/github", :width => 30 %></li>
              <li><%= link_to image_tag("bitbucket_32.png"), "/auth/bitbucket" %></li>
              <li><%= params[:provider] %></li>
            <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>
  </div>

  <%= yield %>
</body>
</html>
