<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Kursarz</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/logo.png" />
  <%= stylesheet_link_tag    'kursarz', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'kursarz', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'kursarz_home', 'data-turbolinks-track' => true %>
</head>
<body>

  <%= render 'shared/navigation_bar' %>
  <div class="home-table">
    <div class="home-table-cell">
      <%= yield %>
    </div>
  </div>

</body>
</html>
